
<!---------------------------------------------------------------------------------------------]
|                                                                                              |
|     AS SEEN ON:                                                   <---___     ⁄\             |
|                                                                          \___/  \            |
|         _____  ______   ___ ___ _____ ___   ___   ___ _____   ____ ___ _/_____\__O__         |
|        // ___\|_  __|  /  |/  | |  \ \| |    \ \_/ / // ___\ / _  || | |______   __|         |
|       _\__  \  _| |_  / | / | | | _/_/| |___ _\_/ / _\___ \ / /_| || |_______ | |            |
|       \____// |_____|/_/| _/|_| |_|   |_____||___/  \_____//_/  |_||_________||_| .dev       | Built with Eleventy,
|                              L A N D   O F   T H E   S A L T Y                               | Runs on Cloudflare.
|                                                                                              | 
| see also: salty.fyi                                                                          |
[---------------------------------------------------------------------------------------------->