.no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.none-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
    * {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        pointer-events: none;}
}

.debug {
    outline: 2px dashed orange;
}

.pill {font-size: inherit; text-align: center; display: inline-block; padding-block: .2rem; padding-inline: 8px; margin: 0;}

.white {color: #FFF !important;}

.rounded-slim {border-radius: 8px;}

.clip-flow {overflow: clip;}

.block {display: block;}
.inline {display: inline;}
.inl-block {display: inline-block;}

.flex {display: flex}
.inl-flex {display: inline-flex;}
.columns {flex-direction: column;}
.rows {flex-direction: row;}

.null {display: none;}

.min-height {height: min-content;}
.max-height {height: max-content;}
.fit-height {height: fit-content;}

.min-width {width: min-content;}
.max-width {width: max-content;}
.fit-width {width: fit-content;}

.text-left {text-align: left; margin-right: auto;}
.text-right {text-align: right; margin-left: auto;}
.centered {text-align: center; margin-inline: auto;}

.-h-middle {margin-inline: auto;
    * {margin-inline: auto;}}

.-v-middle {margin-block: auto;
    * {margin-block: auto;}}    

.text-strike {text-decoration: line-through;}

.pixelart {image-rendering: pixelated;}

.obj-contain {object-fit: contain;}
.obj-fill {object-fit: fill;}
.obj-cover {object-fit: cover;}
.obj-none {object-fit: none;}