:root {
    --bg: #464952;
    --text: #e0e0e0;
    --text-subtle: #c0c2d0;
    --border: #334a;
    --accent: #808796;
    --box-color: #565a65;
    --grid-gap: 10px;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    background: var(--bg);
    color: var(--text);
    margin: auto;
    margin-block: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    max-width: min(1600px, calc(100vw - 40px));
}

.container {
    background: var(--box-color);
    border-radius: 5px;
}

a, a:visited {
    color: var(--text);
    text-decoration: none;
    &:hover {
        text-decoration: 2px dashed underline;
    }
}

.hov-rotate {
    display: inline-block;
    transition: transform .3s ease;
    line-height: 1;
    width: 1em;
    height: 1em;
    text-align: center;
    /* transform: rotate(90deg); */
    button:hover &{
        transform: rotate(130deg);
    }
}

banner>div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a.header {
    --hov-ease: cubic-bezier(.52,0,0,1.13) .3s;
    width: fit-content;
    transition: transform var(--hov-ease), padding-inline var(--hov-ease);
    &:hover {
        transition: transform ease .2s, padding-inline ease .2s;
        transform: scale(1.05) rotate(.2deg);
        padding-inline: .2rem;
    }
    img, svg {
        width: 300px;
        max-width: 70vw;
        margin: 10px;
    }
}

a.nav-link {
    padding: 10px;
    font-weight: bolder;
    background: var(--accent);
}

.controls {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

input[type="text"] {
    background: #000;
    color: #fff;
    border: 1px solid var(--border); &:focus {outline: 2px solid var(--text);}
    border-radius: 2px;
    padding: 5px 10px;
}

.main-layout {
    display: flex;
    width: 100%;
    height: fit-content;
    /* splitJS handles this */
    gap: calc(var(--grid-gap)/2);
}

.gutter {
	background: transparent;
    border-left: 2px solid var(--border);
    border-right: 2px solid var(--border);
    
    &:active {
		border-color: var(--accent);
    }

	.gutter-vertical {
		cursor: col-resize;
        background: red;
	}
	.gutter-horizontal {
        cursor: row-resize;
	}
}

.grid {
    /* splitJS handles this */
	/* flex: 1 1 0; */
	display: grid;
	align-content: start;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	/* the goal is to have a grid with repeating, roughly square-ish rectangle `.slot`s */
	gap: var(--grid-gap);
}

.tray {
	position: sticky;
	top: 10px;
    /* Handled by splitJS */
	/* --min-width: max(300px, 10vw);  */
	/* flex: 0 0 var(--min-width); */
	--block-gap: 10px;

	padding: 10px;
	flex-direction: column;

	min-width: var(--min-width);

    min-height: 200px;
	height: fit-content;
	max-height: calc(100cqh - (var(--block-gap) * 4.8));

	#tray-content > .sortable-zone {
		display: flex;
		text-wrap: balance;
	}

    .sortable-zone {
        position: relative;
        /* width: 100%; */
        height: 100%;
    }

	&:has(.cursor-item) {
		#tray-content > .sortable-zone {display: none;}
	}
}

#tray-content {
    flex-grow: 1;
	height: fit-content;
	overflow-y: scroll;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}

.slot {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 120px;
	max-height: 200px;
	box-sizing: content-box;

	text-align: center;
	text-rendering: optimizeSpeed;

	cursor: attr(data-cursor-css); 
	/* doesn't even work btw */

	position: relative;
	transition: transform ease .2s, background ease .2s;


	&:has(.sortable-ghost) {
		background: var(--accent);
		transform: scale(103%);
		cursor: copy;
		border: 1.5px white dashed;
	}

		.sortable-zone {
			position: absolute;
			inset: 0;
			/* z-index: 100; */
			width: 100%;
			height: 100%;
			/* background: blue; */
		}

    &:has(.cursor-item) {
        .sortable-zone {position: relative;}
        .cursor-item {anchor-name: --item;}
        .cursor-label {
            position: absolute;
            bottom: calc(anchor(--item top) + .1em);
            z-index: 20;
        }
        .drag-drop {display: none;}
    }
 }

.cursor-item {
    background: var(--box-color);
    border: 2px dashed var(--border);
    padding: 8px;
    margin: 5px 0;
    font-size: 0.85rem;
    
    display: flex;
    align-items: center;
    gap: .5em;
    user-select: none;
    cursor: grab;
    
    &:active {cursor: grabbing; opacity: 0.6;}
    
    .file-icon {
        image-rendering: pixelated;
        pointer-events: none;
        vertical-align: middle;
        min-width: 1em;
        aspect-ratio: auto;
    }
    
    .cursor-os {
        margin-left: auto;
    }

    .slot & {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        margin-inline: auto;
        margin-top: 2em;
        max-width: 70%;
        padding: .9em;

        .file-name {
            width: 100%;
            border-top: 2px dashed var(--border);
        }
        
        img {
            height: 40px;
        }
    }
    .slot:has(.sortable-ghost) & {
        display: none;
    }
}

.unassigned-header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 10px;
}

.file-name {
    width: max-content;
    height: fit-content;
    max-width: 100%;
    color: var(--text);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#tray-content > .sortable-zone::after {
    background: var(--box-color);
    border: 2px dashed var(--border);
    padding: 8px;
    margin: 5px 0;
    font-size: 0.85rem;
    align-items: center;
    gap: 5px;

    content: "Drag and drop your cursor files in here!";
    text-align: center;
    justify-content: center;
    width: 100%;
    min-height: 2em;
    color: var(--text-subtle);
    *:has(.cursor-item) {
        /*  */
    }
}

.sortable-ghost {
    border-color: var(--accent);
    .drop-hint {
        display: block;}
    .file-name, .file-icon {opacity: 0;}
}

.cursor-label::after {
    font-weight: bolder;
    user-select: none;
    content: attr(data-label);
}

.drag-drop::after {
    /* &has */
    font-size: 0.8rem;
    color: var(--text-subtle);
    content: "Drag/Drop here";
}

button {
    background: var(--accent);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

#drop-zone-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 120, 212, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    pointer-events: none;
}